<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <!--/*/ <th:block th:include="fragments/commonscripts :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <br>
    <h3> Deals in Travel Agency</h3>




        <div class="row">
            <div class="col-sm-4">
                <h4>Rs.1250 Off* on Dom Hotel</h4>
                <h4><font color="red">Book by 30 Jun 2018. Coupon : 19000OFF </font></h4>
                <img src="../../static/images/deal1.jpg" width="350" height="200"
                     th:src="@{/images/deal1.jpg}"/>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-sm-4">
                <h4>Rs1500 cashback on Flight</h4>
                <h4><font color="red">Book by 25 Jun 2018. Coupon : FLYMKOLON</font></h4>
                <img src="../../static/images/deal2.jpg" width="350" height="200"
                     th:src="@{/images/deal2.jpg}"/>
            </div>

        </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Flat 33% Off on Hotels</h4>
            <h4><font color="red">Book by 30 Jun 2018. Coupon : HJKSTAY</font></h4>
            <img src="../../static/images/deal4.jpg" width="350" height="200"
                 th:src="@{/images/deal4.jpg}"/>
        </div>
        &nbsp;
        <div class="col-sm-4">
            <h4>Rs1500 cashback on Flight</h4>
            <h4><font color="red">Book by 22 Jun 2018. Coupon : FLYFGTN</font></h4>
            <img src="../../static/images/deal5.jpg" width="350" height="200"
                 th:src="@{/images/deal5.jpg}"/>
        </div>

    </div>
    <br>
        <!--<br>-->
        <!--<div class="row">-->
            <!--<div class="col-sm">-->
                <!--<img src="../../static/images/deal1.jpg" width="600" height="200"-->
                     <!--th:src="@{/images/deal1.jpg}"/>-->
            <!--</div> &nbsp;-->
            <!--<div class="col-sm">-->
                <!--<img src="../../static/images/deal1.jpg" width="600" height="200"-->
                     <!--th:src="@{/images/deal1.jpg}"/>-->
            <!--</div>-->

        <!--</div>-->


</div>


</body>
</html>